<div class="sidebar-module">
    <h4>Elsewhere</h4>
    <ol class="list-unstyled">
        <li>
            <a href="https://github.com/eberdna" target="_blank">Github</a>
        </li>
        <li>
            <a href="https://twitter.com/eberdna" target="_blank">Twitter</a>
        </li>
    </ol>
</div>